.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    min-height: 64px;
    align-items: center;
    justify-content: space-between;
}

.close_button {
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}