.burger_ingredients {
    max-width: 600px;
}

.heading {
    text-align: left;
}

.ingredients {
    display: flex;
    flex-direction: column;
    max-height: 67vh;
    overflow: auto;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 32px;
}

.list_heading {
    text-align: left;
}

.modal_image {
    align-self: center;
    height: 240px;
}

.modal_text {
    align-self: center; 
}

.modal_details {
    display: flex;
    align-self: center;
    gap: 20px;
    padding: 0;
    margin-top: 0;
    list-style: none;
    justify-content: space-between;
}

.modal_detail {
    display: flex;
    flex-direction: column;
    min-width: 112px;
    padding: 0;
    justify-content: center;
    align-items: center;
    
}